<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

   </head>
   <body>
      <h1>Remote HVAC Controller</h1>
      <h2>The date and time on the server is: {{ time }}</h2>
      <h2>Current stats:</h2>
      <div id="stats" class="stat-container">
        <p id="temp" class="stat"></p>
        <p id="mode" class="stat"></p>
        <p id="fan" class="stat"></p>
      </div>
   </body>
   <footer>
    <script src="{{url_for('static', filename='js/update_stats.js')}}"></script>
   </footer>
</html>
